html 

    head

    title Story
    
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=MedievalSharp")
    link(rel="stylesheet", type="text/css", href="/styles/styles.css")
    link(rel="stylesheet", type="javascript", href="/js/index.js")


if (scenes.id === 1)
    body.page1
        p.text1 #{scenes.scenes}

        a(href="/scenes/2" class="button" id="go-to-scenes") Continue

if (scenes.id === 2)
    body.page2
        p.text2 #{scenes.scenes}
        a(href="/scenes/3") #{scenes.choiceA}
        | <br/>
        | <br/>
        a(href="/scenes/7") #{scenes.choiceB}

if (scenes.id === 3)
    body.page3
        p.text2 #{scenes.scenes}
        a(href="/scenes/4") #{scenes.choiceA}
        | <br/>
        | <br/>
        a(href="/scenes/8") #{scenes.choiceB}

if (scenes.id === 4)
    body.page4
        p.text2 #{scenes.scenes}
        a(href="/scenes/5") #{scenes.choiceA}
        | <br/>
        | <br/>
        a(href="/scenes/9") #{scenes.choiceB}

if (scenes.id === 5)
    body.page5
        p.text2 #{scenes.scenes}
        a(href="/scenes/6") #{scenes.choiceA}
        | <br/>
        | <br/>
        a(href="/scenes/10") #{scenes.choiceB}
    
if (scenes.id === 6)
    body.page6
        p.text2 #{scenes.scenes}
        a(href="/scenes/12") #{scenes.choiceA}
        | <br/>
        | <br/>
        a(href="/scenes/11") #{scenes.choiceB}

if (scenes.id === 7 || scenes.id === 8 || scenes.id === 9 || scenes.id === 10 || scenes.id === 11)
    body.pagelost
    a(href="/scenes/1" class="button" id="lost") PLAY AGAIN


if (scenes.id === 12)
    body.pagewon
    a(href="/scenes/1" class="button" id="won") PLAY AGAIN

